extends layout

block navigation
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container-fluid 
            a.navbar-brand(href='/') <i class="#{config.app.logo}"></i> #{config.app.name}
            ul.navbar-nav
                if user
                    li.nav-item
                        a.nav-link(href='/app') Dashboard
                    li.nav-item
                        a.nav-link(href='/user/logout') Log Out
                else 
                    li.nav-item
                        a.nav-link(href='/user/login') Log In