extends ../layout-menubar

block content
    .row
      .col.text-center
        h1.mt-5= title
        p.mt-5 I just sent you an email, to make sure that <strong>#{email}</strong> is your email address.
        p.mb-5 In case my email does not arrive please check your spam folder.
    .row.justify-content-center
        .col.col-3
            img.svgshadow.img-fluid(src="/images/email.svg", alt="", srcset="")
