extends ../layout-menubar

block content
  .row.p-4
      .col
        h1.mt-5 User exists
        .alert.alert-primary
            p
                | This user already exists. Did you forget your password?
        